.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
background-color: antiquewhite;
}

.quiz-container {
  text-align: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#question {
  margin-bottom: 20px;
}

label {
  display: block;
}

.button {
  margin-top: 20px;
}







